flows1226.json
[
    {
        "id": "11a3a335a62e6865",
        "type": "tab",
        "label": "1226內湖高中研習",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "955deb4e42d3cef7",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b2a65faabe30abd7",
        "type": "ui_tab",
        "name": "研習資料",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e4025a72533a1c86",
        "type": "ui_group",
        "name": "台北",
        "tab": "b2a65faabe30abd7",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "42a52e097d5aee81",
        "type": "ui_group",
        "name": "其他",
        "tab": "b2a65faabe30abd7",
        "order": 2,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "4020e33b1e35bbed",
        "type": "debug",
        "z": "11a3a335a62e6865",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 420,
        "wires": []
    },
    {
        "id": "18f49e8bf4efbc5c",
        "type": "inject",
        "z": "11a3a335a62e6865",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 420,
        "wires": [
            [
                "4020e33b1e35bbed"
            ]
        ]
    },
    {
        "id": "36dcf879302e424a",
        "type": "http request",
        "z": "11a3a335a62e6865",
        "name": "空氣品質",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://data.moenv.gov.tw/api/v2/AQX_P_432?api_key=6b143ef9-f251-43e4-add6-a5557c7ffa1c",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 400,
        "y": 640,
        "wires": [
            [
                "1681392bf51d324a",
                "0a58d69d68cf1dc3"
            ]
        ]
    },
    {
        "id": "086934277e2976fc",
        "type": "debug",
        "z": "11a3a335a62e6865",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 600,
        "wires": []
    },
    {
        "id": "372d0d8898bddda0",
        "type": "inject",
        "z": "11a3a335a62e6865",
        "name": "觸發",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 640,
        "wires": [
            [
                "36dcf879302e424a"
            ]
        ]
    },
    {
        "id": "0a58d69d68cf1dc3",
        "type": "change",
        "z": "11a3a335a62e6865",
        "name": "aqi",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.records[10].aqi",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "台北中山",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 600,
        "wires": [
            [
                "086934277e2976fc",
                "9aab1602e17dda3d",
                "d8b61b1aab8dbf3c"
            ]
        ]
    },
    {
        "id": "1681392bf51d324a",
        "type": "change",
        "z": "11a3a335a62e6865",
        "name": "aqi",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.records[9].aqi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 680,
        "wires": [
            [
                "54784e787bb5f43f",
                "70bf6c6e484875dd",
                "d8b61b1aab8dbf3c"
            ]
        ]
    },
    {
        "id": "54784e787bb5f43f",
        "type": "debug",
        "z": "11a3a335a62e6865",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 780,
        "wires": []
    },
    {
        "id": "9aab1602e17dda3d",
        "type": "ui_gauge",
        "z": "11a3a335a62e6865",
        "name": "",
        "group": "e4025a72533a1c86",
        "order": 1,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "台北",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "75",
        "x": 770,
        "y": 540,
        "wires": []
    },
    {
        "id": "70bf6c6e484875dd",
        "type": "ui_gauge",
        "z": "11a3a335a62e6865",
        "name": "",
        "group": "e4025a72533a1c86",
        "order": 2,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "其他",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 770,
        "y": 840,
        "wires": []
    },
    {
        "id": "d8b61b1aab8dbf3c",
        "type": "ui_chart",
        "z": "11a3a335a62e6865",
        "name": "",
        "group": "e4025a72533a1c86",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "折線圖",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 770,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "0b32e729c27bce31",
        "type": "global-config",
        "env": [],
        "modules": {
            "dashboard-evi": "1.0.2"
        }
    }
]